<div id="flex-single-view" style="padding-top: 12px;">
  <div id="flex-container" *ngIf="popUpMessages">
   <div class="card">
      <mat-card>
        <div class="item1">
          <div class="profile-img">
            <img src="./assets/images/icon_center.svg" alt="img">
          </div>
          <div class="item2">
            <h3>{{'packet-upload.header' | translate}}</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div id="myDiv" class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container" *ngIf="dynamicDropDown">
          <div [formGroup]="uploadForm" class="primary-form" *ngIf="uploadForm">
             <mat-form-field>
              <mat-label>{{'packet-upload.createView.center' | translate}}</mat-label>
              <mat-select formControlName="centerId" id="centerId">
                <mat-option
                  *ngFor="let data of dynamicDropDown['centerList']"
                  (onSelectionChange)="captureDropDownValue($event, 'centerId')" 
                  [id]="data.fieldCode"
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }} ({{data.fieldCode}})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="uploadForm.controls.centerId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'packet-upload.createView.sourceLabel' | translate}}</mat-label>
              <mat-select formControlName="source" id="source">
                <mat-option
                  *ngFor="let data of dynamicDropDown['source']"
                  (onSelectionChange)="captureDropDownValue($event, 'source')" 
                  [id]="data.value"
                  [value]="data.value"
                >
                  {{ data.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="uploadForm.controls.source.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'packet-upload.createView.processLabel' | translate}}</mat-label>
              <mat-select formControlName="process" id="process">
                <mat-option
                  *ngFor="let data of dynamicDropDown['process']"
                  (onSelectionChange)="captureDropDownValue($event, 'process')" 
                  [id]="data.value"
                  [value]="data.value"
                >
                  {{ data.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="uploadForm.controls.process.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'packet-upload.createView.supervisorStatusLabel' | translate}}</mat-label>
              <mat-select formControlName="supervisorStatus" id="supervisorStatus">
                <mat-option
                  *ngFor="let data of dynamicDropDown['supervisorStatus']"
                  (onSelectionChange)="captureDropDownValue($event, 'supervisorStatus')" 
                  [id]="data.value"
                  [value]="data.value"
                >
                  {{ data.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="uploadForm.controls.supervisorStatus.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>


            <!-- <div class="custom-file-input">
              <input type="button" *ngIf="buttonalignment === 'rtl'" value="{{'packet-upload.createView.input-btn-text' | translate}}" class="browseInput">
              <input type="file" multiple="multiple" id="fileInput" #fileInput (click)="$event.target.value=null" (change)="onFileSelect($event)" required placeholder="{{'packet-upload.createView.input-text1' | translate}}" />
              <input type="text" id="fileName" [value]="fileName" placeholder="{{'packet-upload.createView.input-text2' | translate}}" >
              <span style="color:#ff0000;font-size:12px;left: 114px;" *ngIf="primaryLang === 'eng'" >*</span>
              <span style="color:#ff0000;font-size:12px;left: 162px;" *ngIf="primaryLang === 'fra'" >*</span>
              <span style="color:#ff0000;font-size:12px;left: 122px;" *ngIf="primaryLang === 'ara'" >*</span>
              <input type="button" *ngIf="buttonalignment === 'ltr'" value="{{'packet-upload.createView.input-btn-text' | translate}}" class="browseInput">
              <mat-error *ngIf="fileNameError">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>               
            </div> -->  
            <label class="labelfileupload">{{'uploadcertificate.uploadYourFile' | translate}} <span style="color:red;">*</span></label>
              <div class="fileuploadcontainer" appDnd (fileDropped)="onFileDropped($event)" id="custom-file-input">
              <input (click)="$event.target.value=null" type="file" #fileInput id="fileInput" (change)="onFileSelect($event)"/>
              <label style="margin-right: 1rem;display: flex;" for="fileInput">
                <svg id="upload_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24.042"
                  viewBox="0 0 24 24.042">
                  <g id="Group_13" data-name="Group 13" transform="translate(3 2.504)">
                    <path id="Path_988" data-name="Path 988"
                      d="M13,11.337l2.59,2.585L17,12.509,12,7.5,7,12.509l1.41,1.412L11,11.337v9.687h2Z"
                      transform="translate(-3 -7.5)" fill="#FF4081" />
                    <path id="Path_2004" data-name="Path 2004"
                      d="M19,3v7.012H5V3H3v7.012a2.008,2.008,0,0,0,2,2H19a2.008,2.008,0,0,0,2-2V3Z"
                      transform="translate(-3 6.517)" fill="#FF4081" />
                  </g>
                  <path id="Path_989" data-name="Path 989" d="M0,24.042H24V0H0Z" fill="none" />
                </svg>
                <span style="margin-top: 4px;padding-left: 5px; font-size: 14px; font-weight: 600;">{{'uploadcertificate.chooseFile' | translate}}</span>
              </label>
              </div>  
              <div class="files-list">
              <div class="single-file" *ngIf="uploadForm.controls.fileName.value">
                <div class="file-icon" style="width: 50px">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58"
                    style="enable-background:new 0 0 58 58;" xml:space="preserve">
                    <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                    <g>
                      <path style="fill:#CEC9AE;"
                        d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                      <path style="fill:#CEC9AE;"
                        d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                      <path style="fill:#CEC9AE;"
                        d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                      <path style="fill:#CEC9AE;"
                        d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                      <path style="fill:#CEC9AE;"
                        d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                    </g>
                    <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                  </svg>
                </div>
                <div class="info">
                  <h4 class="name">{{uploadForm.controls.fileName.value}}</h4>
                </div>
              </div>
            </div>       
          </div> 
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            id="createButton"
            mat-raised-button
            (click)="submit()"
          >
          {{'packet-upload.createView.upload-btn' | translate}}
          </button>
          <button mat-raised-button (click)="cancel()">
            {{'packet-upload.createView.cancel-btn' | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
