<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ADMIN-UI-AUTOMATION-RUN">
	<parameter name="scenarioFilter" value="random" />
	<parameter name="stopOnError" value="false" />
	<test name="ADMIN-UI-AUTOMATION" group-by-instances="true">
	
		<classes>
		    <class name="io.mosip.testrig.adminui.testcase.CenterTest" />
			
			
			
		</classes>
	</test>
		<listeners>
		
	

		<listener
			  class-name="io.mosip.testrig.adminui.utility.EmailableReport" />
			
	</listeners>

</suite>